/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	


/******************************************
		Main
******************************************/

html{
	font-family:'Just Another Hand', cursive;
	letter-spacing:3px;
	
	background:hsl(260,65%,95%);	
}

#container{
	width:100vw;
	max-width:800px;
	height:100vh;
	margin:0 auto;
}

h1{
	font-size:48px;
	padding:20px;
}

footer{
	margin-top:25px;	
}

footer p{
	padding:20px;
	text-align:right;
}

/******************************************
		Transforms
******************************************/

.shapes{
	display:flex;
	justify-content:space-evenly;
}

.shape1{
	width:60px;
	height:60px;
	background:lightblue;
}

/* in clss */

.shapes .shape1:nth-child(3){
	/* transform: scale(2,1.5); */
	transition: transform 1s ease-in-out;
}

.shapes .shape1:nth-child(3):hover{
	transform: scale(0.2,0.2)
}

.shapes .shape1:nth-child(2){
	transition: all 750ms ease-in-out;
}

.shapes .shape1:nth-child(2):hover{
	transform: rotate(135deg);
	transform: translate(50px,20px);
	background-color: lightgoldenrodyellow;
}

.shapes .shape1:nth-child(4){
	animation: jump 2s ease-in-out infinite;
}
.shapes .shape1:nth-child(5){
	animation: pendulum 2s ease-in-out infinite alternate;

	
}

/************************************
******
		Animations
************************************
******/

@keyframes jump{
	50%{
		transform: translateY(-100px);
	}
}

@keyframes pendulum{
	0%,100%{
		transform-origin: 0 -100px;
	}
	
	0%{
		transform: rotate(77deg);
	}

	100%{
		transform: rotate(-45deg);
	}
	
	
	
	
	
}







/******************************************
		Slider
******************************************/

.slider{
	margin:30px auto 0;
	/* three properties in margin mean top, left-right, bottom */
	width:80%;
	/* text-align will center images as well as text */
	text-align:center;
}


.slideback{
	position: relative;
}

.slideback > img{
	width: 100%;
}

.slideholder {
	position: absolute;
	top: 0;
	width: 300%;
	height: 100%;
	display: flex;
	background-color: lightgray;

	transition: margin 1s ease-in-out;
}

.imgslide{
	flex-grow: 1;
	height: 100%;
}

.imgslide img{
	margin-top: 26%;
	width: 26%;
}

/* #slide1:checked ~ .slideback .slideholder{ margin-left(0)} */


/******************************************
		Labels (buttons)
******************************************/

label{
	display: inline-block;

	background-color: lightblue;
	padding: 5px 0;
	font-size: 24px;
	text-align: center;
	margin: 0 15px;
}

label:hover{
	background-color: hsl(101, 100%, 40%);
}

label:active{
	background-color: hsl(101, 100%, 40%);
	transform: (0.9);
}

#slide1:checked ~ label:nth-of-type(1){background-color: hsl(101, 100%, 50%);}
#slide1:checked ~ label:nth-of-type(2){background-color: hsl(101, 100%, 50%);}
#slide1:checked ~ label:nth-of-type(3){background-color: hsl(101, 100%, 50%);}

input[type="radio"]{
	display: none;
}

